body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #dcdcdc;
    color: #333;
}

h1, h2, h3 {
    color: #2c3e50;
}

img {
    max-width: 100%;
    max-height: 85vh;
    height: auto;
    width: auto;
    border-radius: 5px;
}


